services:
  python:
    build: 
      context: ./
      target: dev-watch
    ports:
      - 8000:5000
    develop:
      watch:
        - path: ./app
          action: sync
          target: /usr/local/app
